* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --BORDER-COLOR: hsl(0, 4%, 18%) */
  /* --BORDER-COLOR: rgb(220, 220, 220) */
  --BORDER-COLOR: darkgray
}

body {
  background-color: darkgray;
}
.sth {
  background-color: rgb(100, 157, 176);
}

.App {
  position: absolute;
  left: 1%;
  right: 1%;
  top: 1%;
  bottom: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(50, auto);
  grid-template-rows: repeat(20, auto);
  gap: 1px;
  /* background-color: var(--BORDER-COLOR);
  border: 1px solid var(--BORDER-COLOR); */
}

.grid-container > div {
  aspect-ratio: 1;
}

.menu-button-end,
.menu-button-start,
.menu-button-wall,
.menu-button-empty,
.menu-button-bomb,
.menu-button-checkpoint
{
  background-color: chocolate;
  padding: 9px;
  margin: 4px;
  border-radius: 3px;
  color: #333;
  font-weight: 700;
}

.start-algo {
  background-color: brown;
  color: lightyellow;
  padding: 9px;
  margin: 4px;
  border-radius: 3px;
  font-weight: 700;

}

.gen-maze {
  background-color: darkblue;
  color: whitesmoke;
  padding: 9px;
  margin: 4px;
  border-radius: 3px;
  font-weight: 700;

}